<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="REFRESH" content="0; url=http://localhost:8080">
    <title>Confirmed</title>
    <style>
        body {
            background: #eaffd0;
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin: 0;
        }

        .container {
            background: #fce38a;
            color: #f38181;
            padding: 2rem;
            margin-top: -5rem;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 96px);
        }


        header {
            margin: 0;
            height: 56px;
            padding: 0 16px 0 24px;

            background-color: #f38181;
            color: #ffffff;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        header span {
            display: block;
            position: relative;
            font-size: 20px;
            line-height: 1;

            letter-spacing: .02em;

            font-weight: 400;
            box-sizing: border-box;
            padding-top: 16px;
        }

        footer {
            height: 40px;
            background: #95e1d3;
            position: relative;
            width: 100vw;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: medium;
            color: white;
        }

        .emoji {
            font-size: large;
            font-style: normal;
        }
    </style>
</head>

<body>
    <header>
        <span>To2Do</span>
    </header>
    <main>
        <div class="container">
            <h3>
                You will be redirected shortly...
            </h3>
        </div>
    </main>
</body>
<footer>
    <code>
        made by:
        <a href="mailto:thomas.maclean+work@gmail.com">thomas maclean</a>
        <i class="emoji">🤖</i>

        <%='© ' +new Date().getFullYear() %>
    </code>
</footer>

</html>